<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>YOUR WORDS| A MESSAGE SAHRING CANVAS</title>
  <!-- fontawesome cdn -->
    <script src="https://kit.fontawesome.com/1a58d1200c.js" crossorigin="anonymous"></script>
<!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" href="images/icon .jpg">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Ultra&display=swap" rel="stylesheet">
<!-- local style sheet -->
    <link rel="stylesheet" href="styles.css">

  </head>
  <body>
    <center>
      <h1>YOUR WORDS</h1>
      </center>
  <% for (var i = 0; i<notes.length; i++) {%>
    <div class="container">
      <h6><%= day %></h6>
      <p><%= notes[i].name%></p>
      <p class="default"><%= notes[i].ip%></p>
      
      <form class="" action="/delete" method="POST">
        <button class="btoon" type="submit" name="button" value="<%= notes[i]._id %>"> <i class="icon fas fa-trash-alt"></i></button>
      </form>

    </div>
  <%}%>

  <center>
    <form action="/" method="POST">
        <textarea type="text" name="note" maxlength="100" placeholder="Write it out!!!"></textarea>
        <button class="btn-my btn btn-outline-info btn-lg btn-input" type="submit" name="submit">printf()</button>
    </form>
  </center>
  </body>
</html>
